.product-add{
    padding:0px 20px;
}
.product-add-header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    h1{
        font-size:30px;
        @media screen and (max-width: 490px){
            font-size: 20px;
        }
    }
    .action-buttons{
        display:flex;
        gap:20px;
        padding:0px;
        // background:blue;
        button{
            padding:10px 20px;
        }
    }
}
hr{
    margin:0px;
    padding:0px;
}
.error-message{
    background:pink;
}
.sent-message{
    background: transparent;
}
form{
    display:flex;
    flex-direction: column;
    gap:20px;
    margin:0px 20px;
    padding:20px;
    @media screen and (max-width: 490px){
        margin:0px;
    }
    .main-data{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        div{
            display: flex;
            justify-content: space-between;
            margin: 10px 0px 10px 0px;
            @media screen and (max-width: 490px){
                width:100%;
            }
        }
        #sku-hint{
            border:none;
            border-radius: 50%;
            background-color: lightgray;
            cursor: pointer;
        }
        input{
            margin-left: 5px;
            outline: none;
        }
    }
    .select-type{
        display: flex;
        flex-direction: column;
        gap:10px;
        #productType{
            width:fit-content;
            outline:none;
        }
    }

    button{
        cursor: pointer;
    }

    .description{
        display: flex;
        flex-direction: column;
        textarea{
            outline:none;
            font-size:16px;
            
        }
    }
    .dvd,.book,.furniture{
        p{
            background: #eee;
            padding:0px 10px;
            width:fit-content;
        }
        &-attributes{
            display: flex;
            flex-wrap: wrap;
            @media screen and (max-width:490px) {
                justify-content: space-between;
                width: 100%;
            }
            input{
                margin-left:5px;
                margin-right:20px;
                outline: none;
                @media screen and (max-width: 490px){
                    margin:0px 0px 5px 5px;
                }
            }  
        }
    }

}